body {
    width: 80%;
    margin: auto;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1em;
}

.page-wrapper {
    box-sizing: border-box;
}

.content {
    box-sizing: border-box;
    border: solid black 1px;
    margin-bottom: 1em;
    padding: 0.5em 1em 0.5em 0.7em;
}

h1 {
    font-weight: bolder;
}


.color {
    box-sizing: border-box;
    width: 32%;
    display: inline-block;
    color: white;
    text-align: center;
    margin-bottom: 1.2em;
    margin-top: 1.5em;
}

.cool-blue {
    background-color: #2d5dcc;
}

.pink {
    background-color:#d957d9;
    color: black;
}

.mint-green {
    background-color: #4fe0b0;
    color: black;
}

.beige {
    background-color: #efd9ca;
    color: black;
}

.fonts {
    box-sizing: border-box;
    width: 45%;
    display: inline-block;
    text-align: left;
    margin-bottom: 1em;
}

h3 {
    font-weight: lighter;
    text-decoration: underline;
    color: black;
}

.source-code-pro {
    font-family: 'Source Code Pro', monospace;
    color: black;
}

.nunito-sans {
    font-family: 'Nunito Sans', sans-serif;
}

.bold-paragraph {
    font-weight: bold;
}

.italic-paragraph {
    font-style: italic;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.text-styles {
    font-size: 0.9em;
}

footer {
    text-align: center;
    margin-bottom: 1em;
}



